.container {
  background:  #bedbc0;  
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 400px;
}

.photo {
 width:20%;
 box-align: 25%;
 margin-left:55px;
 margin-top: 50px;
 margin-right: 75px;
 border-radius: 4%;
 object-position:50% 0%;
 box-shadow: 8px -8px 22px -2px rgba(0, 0, 0, 0.4);
 display: inline-block;
}

.contacts {
  position: relative;
  text-align: center;
  vertical-align: super;
  display: inline-block;
  font-size: 25px;
}

h1 {
  display: none;
}

#me {
  display: none;
}

.about {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

section {
  width: 1024px;
  margin: 0 auto;
  background: #e6e9ef;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

hr {
  width: 1024px;
  align: center;
  size: 10px;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
 }

body {
  margin-bottom: 0px;
  margin-top: 0px;
}

